{% extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap3 %}
{% load staticfiles%}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">


<title>New Profile</title>
{{form.media}}

{{image.profile.name}}

<div class="card mx-auto container" style="max-width:50rem; margin-top:50px;">
  <form action="{%url 'update_profile'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Update Profile">
  </form>
</div>
{% block scripts %}

{% bootstrap_javascript %}
{% endblock %}
{% endblock %}